<!DOCTYPE html>
<html ng-app="homeapp">
    <head>
        <title>Desenvolvendo Aplicações Web com AngularJS e Java</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilo.css" />
    </head>
    <body ng-controller="OperadoresController">
 
       <!-- Formulario de operador -->
       
       <form>
       	<h1>Cadastro de Operadores</h1>
       	<label for="nome">Nome: </label>
       	<input id="nome" name="nome" type="text" ng-model="operador.nome" maxlength="100" pattern="[a-zA-Z\s]+" ng-pattern-restrict/>
       	<br>
       	
       	<label for="login">Login: </label>
       	<input id="login" name="login" type="text" ng-model="operador.login" maxlength="15" pattern="[a-zA-Z\-\_]+" ng-pattern-restrict ng-if="isEdit === 0" />
       	<br>
       	
       	<label for="senha">Senha: </label>
       	<input id="senha" name="senha" type="password" ng-model="operador.senha" min="6" maxlength="15"/>
       	<br>
       	
       	<label for="perfil">Perfil: </label>
       	<select id="perfil" name="perfil" type="text" ng-model="operador.id_perfil" ng-options="a.id_perfil as a.nome_perfil for a in perfis">
       	</select>       	
       	<br>
       	<input id="edit" name="isEdit" type="hidden" value="0" ng-model="isEdit">
       	<button ng-click="salvar(operador)"> Salvar </button>
       	<button ng-click="cancelar()"> Cancelar </button>
       	
       </form>
       
       <!-- Tabela de operadores -->
       
       <h1>Tabela de Operadores</h1>
       <table>
       	<thead>
       		<tr>
       			<th>Nome</th>
       			<th>Login</th>
       			<th>Senha</th>
       			<th hidden="hidden">id_perfil</th>
       			<th>Data de cadastro</th>
       		</tr>
       	</thead>
       	<tbody>
       		<tr ng-repeat="operador in operadores">
       			<td>{{operador.nome}}</td>
       			<td>{{operador.login}}</td>
       			<td inputmode="text">{{operador.senha}}</td>
       			<td hidden="hidden">{{operador.id_perfil}}</td>
       			<td>{{operador.dat_cadastro}}</td>
       			<td><a href="" ng-click="editar(operador)" ng-if="operador.id_perfil != 1">[Editar]</a></td>
       			<td><a href="" ng-click="excluir(operador)" ng-if="operador.id_perfil != 1">[Excluir]</a></td>
       		</tr>
       	</tbody>
       </table>
       
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>